.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 2px solid black;
}

.box {
    text-align: center;
    width: 50px;
    height: 75px;
    border: 2px solid red;
}