body {
    background-color: antiquewhite;
    margin: 0;
}

.imgs {
    height: 100px;
    width: 250px;
}

h1,
p {
    margin: 0;
}

.name {
    font-size: x-large;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: cursive;
}

.horru{
    margin: 0 0 1% 0;
}

a {
    color: rgb(223, 82, 204);
    text-decoration: none;
    font-size: x-large;
}

a:hover {
    color: blueviolet;
}

main {
    font-size: x-large;
    font-family: cursive;
    margin: 1% .5%;
}

header,
footer {
    background-color: rgb(54, 196, 243);
    color: antiquewhite;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 1% 0 0 0;
    font-size: small;
}

.link_icons {
    display: flex;
    flex-direction: column;
}