body {
    background-color: antiquewhite;
    margin: 0;
}

.imgs {
    height: 100px;
    width: 250px;
}

h1 {
    margin: 0;
}

.name {
    font-size: x-large;
    margin: 0;
}

.title {
    margin: .5% 0 .5% 1%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
}

.horru{
    margin: 0;
}

a {
    color: rgb(113, 113, 255);
    text-decoration: none;
    font-size: x-large;
}

.fa-solid {
    font-size: xx-large;
    padding-right: 1rem;
}

.fa-solid:hover {
    color: rgb(223, 82, 204);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    border-bottom: 2px solid black;
    top: 0;
}

.links a {
    padding: .75rem .5rem;
}

.links a:hover {
    padding-top: .25rem;
    padding-bottom: 1.25rem;
}

a:hover {
    color: rgb(223, 82, 204);
}

main {
    font-size: x-large;
    font-family: 'Permanent Marker', cursive;
}

.mobile {
    height: 96vh;
    background-color: #f7daeb;
    position: relative;
    /* display: none; */
}

.mobile-top {
    height: 30vh;
    background-image: url('/imgs/background-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq {
    width: 60%;
    background-color:  #fff5f5;
    position: absolute;
    top: 5rem;
    border-radius: 15px;
    font-family: 'Work Sans', sans-serif;
}

@media (max-width: 800px) {
    .faq {
        width: 90%;
    }
}

@media (max-width: 950px) {
    .faq{
        width: 80%;
    }   
}

@media (max-width: 1350px) {
    .faq{
        width: 75%;
    }
}

.mobile-title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.faq-title {
    display: flex;
    flex-direction: row;
}

.question-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 600;
    font-size: large;
    padding-left: 1rem;
}

.answer {
    font-weight: 400;
    padding-left: 2rem;
    font-size: large;
    display: none;
}

.mobile-title img {
    padding: 0 1rem;
}

.card {
    position: absolute;
    top: 2vw;
    right: 2vw;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    position: relative;
    height: 8em;
    width: 24em;
    background-color: rgb(94, 193, 226);
}

form {
    margin: 0 1em;
    padding-right: 1em;
}

.full-name p {
    display: flex;
    justify-content: flex-start;
}

label {
    font-size: .5em;
}

.required {
    color: red;
}

.full-name,
.label-names,
.addy-line-inputs,
.addy-line-labels,
.email,
.num,
.num-input,
.num-label,
.pos,
.start,
.upload,
.photo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.input-label-name {
    width: 60%;
}

.input-names {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.current-addy {
    display: flex;
    justify-content: space-between;
}

.addy-lines {
    width: 60%;
    padding-top: .5em;
}

.addy-lines label {
    padding-bottom: .75em;
}

.st-lines {
    display: flex;
    flex-direction: column;
}

.email-address {
    width: 60%;
}

.email-address input {
    width: 90%;
    display: flex;
}

.phone-num-label {
    width: 60%;
}

.phone-num {
    width: 40%;
}

.posns {
    width: 60%;
}

.posns select {
    width: 75%;
}

.date {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.date input {
    width: 25%;
}

.resume,
.photo-btn {
    width: 60%;
    display: flex;
    justify-content: center;
}

.terms {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.terms input {
    height: 1em;
}

.terms label {
    font-size: .7em;
}

.submit {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.submit input,
.photo input {
    font-size: .75em;
}

header,
footer {
    background-color: rgb(54, 196, 243);
    color: antiquewhite;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
}

.footer_left,
.footer_right {
    margin: auto 0 .5% 1%;
}

.link_icons {
    display: flex;
    flex-direction: column;
    margin: .25% 1% 0 0;
}